.logo_brand{
    float: left;
    height: 50px;
    padding: 6px 6px;

}

.logo{
    width: 50px;
    border-radius: 5px;
}

body{
    background: #f3f3f3;
}

.main{
    background: #fff;
    width: 780px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
}

.page-title{
    text-align: center;
}

.search-input{
    width: 160px;
    height: 24px;
    border-radius: 2px;
    border:1px solid black;
    margin-left: 2px;
}

.search-button{
    width: 60px;
    height: 24px;
    background-color: #337ab7;
    color: white;
    border-radius: 3px;
    border: 0
}

.class-input{
    width: 100px;
    height: 24px;
    border-radius: 2px;
    border:1px solid black;
    margin-left: 2px;
}

.table_list{
    width: 480px;
    border: 1px solid black;
    /*border-collapse:collapse;*/
    margin: 0;
    float: left;
}

.table_list caption{
    text-align:center;
    color: black;
    font-size: large;
}

.table_div {
    width: 480px;
    margin-top: 20px;
}

.table_list tbody {
    display: block;
    height: 100px;
    overflow-y: scroll;
    border-color: gray;

}

.table_list thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.table_list thead {
        width: calc( 100% - 1em);
    }

.table_list th{
    font-size: medium;
    text-align: center;
    /*border: 1px solid black;*/
    background: lightblue;
    padding:5px 10px;
}

.table_list td{
    font-size:1em;
    text-align: center;
    /*border:1px solid black;*/
    padding:5px 10px;
}

.img_div{
    margin-left: 30px;
    margin-top: 50px;
    float: left;
}

.img_ul{
    padding:0;
    margin-top:0;
    text-align:center;
    display: inline-block;

}

.img_ul li{
    display:inline;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    float:left;
    border: 1px solid gray
}
.img_ul li p{
    line-height:30px;
    font-size:12px;
    margin-bottom:0;
}

.page {
    clear:both;
    text-align: center;
}

.page_ul {
    margin: 0;
}



