.logo_brand{
    float: left;
    height: 50px;
    padding: 6px 6px;

}

.logo{
    width: 50px;
    border-radius: 5px;
}

.nav-custom{
    /*border-color: darkblue;*/
    margin-bottom: 5px;
}

body{
    background: #f3f3f3;
}

.main{
    background: #fff;
    width: 780px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
}

.page-title{
    text-align: center;
}

.search-input{
    width: 160px;
    height: 24px;
    border-radius: 2px;
    border:1px solid black;
    margin-left: 2px;
}

.search-button{
    width: 60px;
    height: 24px;
    background-color: #337ab7;
    color: white;
    border-radius: 3px;
    border: 0
}

.class-input{
    width: 100px;
    height: 24px;
    border-radius: 2px;
    border:1px solid black;
    margin-left: 2px;
}

.table_div {
    width: 440px;
    margin-top: 20px;
    margin-left: 20px;

}

.table_list{
    width: 440px;
    border: 1px solid black;
    /*border-collapse:collapse;*/
    margin: 0;
    float: left;
}

.table_list caption{
    text-align:center;
    color: black;
    font-size: large;
}

.table_list tbody {
    display: block;
    height: 180px;
    overflow-y: scroll;
    border-color: gray;

}

.table_list thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.table_list thead {
        width: calc( 100% - 1em);
    }

.table_list th{
    font-size: medium;
    text-align: center;
    /*border: 1px solid black;*/
    background: lightblue;
    padding:5px 0;
}

.table_list td{
    font-size:1em;
    text-align: center;
    /*border:1px solid black;*/
    padding:5px 0;
}

.img_div{
    margin-left: 20px;
    margin-top: 0;
    float: left;
    border: 1px solid black;
    width: 258px;
    height: 215px;
    display: flex;
    align-items: center;
    text-align: center;
}

.img_ul{
    padding:0;
    margin-top:0;
    text-align:center;
    display: inline-block;

}

.img_ul li{
    display:inline;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    float:left;
    border: 1px solid gray
}
.img_ul li p{
    line-height:30px;
    font-size:12px;
    margin-bottom:0;
}

.search-div {
    clear:both;
    text-align: center;
    border-bottom: 2px solid darkblue;
    padding-bottom: 6px;
}

.lab {
    margin-bottom: 0;
}

.page {
    clear:both;
    text-align: center;
}

.page_ul {
    margin: 0;
}

.info_div {
    /*width: 250px;*/
    float: left;
}

.info {
    list-style:none;
    padding:20px;
    width: 250px;
}

.info li {
    line-height:40px;
    font-size:20px;
}

.item {
    border: solid 1px lightgray;
    background: #3385ff;
    padding: 2px;
    display: inline-block;
    width: 80px;
    margin:0 0 -1px -1px;
    text-align: center;

}

.data {
    border: solid 1px lightgray;
    background: white;
    padding: 2px;
    display: inline-block;
    width: 120px;
    margin:0 0 -1px -1px;
    text-align: center;
}

.chart {
    width: 480px;
    float: left;
    padding-top: 10px;
}

.title {
    border-bottom: 2px solid darkblue;
    padding: 0;
}

.title p {
    font-size: 30px;
}



