{% extends 'base.html' %}
{% load static %}

{% block title %}检测记录{% endblock %}

{% block head %}
    <script>
    function show(img_path){
        var img=document.getElementById("box");
        {#img.innerHTML=''+img_path+'';#}
        img.innerHTML='<img src="/static/'+img_path+'" width="468" height="351">';   //添加图片
    }
    </script>
    <link rel="stylesheet" href="{% static 'detection/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'detection/css/index.css' %}">
{% endblock %}

{% block main %}
    <form action="{% url 'log_search' %}" method="get">
        <span>起始日期</span>
            <input name="start_date" type="date" class="search-input" placeholder="请输入起始日期">
        <span>&nbsp;&nbsp;终止日期</span>
            <input name="end_date" type="date" class="search-input" placeholder="请输入结束日期">
        <button type="submit" class="search-button">查询</button>
    </form>
    <table class="table_list">
        <caption>检测记录表</caption>
        <thead>
            <tr>
                <th>序号</th>
                <th>检测时间</th>
                <th>检测结果</th>
                <th>图片链接</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td style="text-align:left">{{ log.time|date:"Y-m-d H:i:s"  }}</td>
                    <td>{{ log.detect_class }}</td>
                    {% if log.path %}
                        <td><button onclick="show('{{ log.path }}')">查看图片</button></td>
                    {% else %}
                        <td>无</td>
                    {% endif %}

                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div id="box" class="img_div"></div>
{% endblock %}