{% extends 'base.html' %}
{% load static %}

{% block title %}检测记录{% endblock %}

{% block head %}
    <script>
    function show(img_path){
        var img=document.getElementById("box");
        {#img.innerHTML=''+img_path+'';#}
        img.innerHTML='<img src="/static/'+img_path+'" width="256" height="192">';   //添加图片
    }
    </script>
    <link rel="stylesheet" href="{% static 'detection/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'detection/css/index.css' %}">
{% endblock %}

{% block main %}
    <div class="search-div">
        <form action="{% url 'log_search' %}" method="get">
            <span>起始日期</span>
                <input name="start_date" type="date" class="search-input" placeholder="请选择起始日期" value={{ ks.s }}>
            <span>&nbsp;&nbsp;终止日期</span>
                <input name="end_date" type="date" class="search-input" placeholder="请选择结束日期" value={{ ks.e }}>
            <button type="submit" class="search-button">查询</button>
        </form>
    </div>

    <div class="table_div">
        <table rules="rows" class="table_list">
            {#<caption>检测记录表</caption>#}
            <thead>
                <tr>
                    <th width="13%">序号</th>
                    <th width="37%">检测时间</th>
                    <th width="25%">检测结果</th>
                    <th width="25%">图片链接</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                    <tr>
                        <td width="13%">{{ forloop.counter }}</td>
                        <td width="37%" style="text-align:center">{{ log.time|date:"Y-m-d H:i:s"  }}</td>
                        <td width="25%">{{ log.detect_class }}</td>
                        {% if log.path %}
                            <td width="25%"><button onclick="show('{{ log.path }}')">查看图片</button></td>
                        {% else %}
                            <td width="25%">无</td>
                        {% endif %}

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="box" class="img_div">图形显示区域</div>

{% endblock %}